<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.pats.envy15.pats_inventario" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cl.pats.envy15.pats_inventario.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="cl.pats.envy15.pats_inventario.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="cl.pats.envy15.pats_inventario.ReadActivity"
            android:label="@string/title_activity_read" >
        </activity>
        <activity
            android:name="cl.pats.envy15.pats_inventario.ListaActivity"
            android:label="@string/title_activity_lista" >
        </activity>
        <activity
            android:name="cl.pats.envy15.pats_inventario.BienesGeneralActivity"
            android:label="@string/title_activity_bienes_general" >
        </activity>
        <activity
            android:name="cl.pats.envy15.pats_inventario.FaltantesActivity"
            android:label="@string/title_activity_faltantes" >
        </activity>
        <activity
            android:name="cl.pats.envy15.pats_inventario.OtrasActivity"
            android:label="@string/title_activity_otras" >
        </activity>
    </application>

</manifest>
